@model BasicProject.RichModel.Oferta

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Oferta</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.DataInicioOferta)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DataInicioOferta)
            @Html.ValidationMessageFor(model => model.DataInicioOferta)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.InfoPagamento.NumeroParcelas)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InfoPagamento.NumeroParcelas)
            @Html.ValidationMessageFor(model => model.InfoPagamento.NumeroParcelas)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.InfoPagamento.ValorEntrada)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InfoPagamento.ValorEntrada)
            @Html.ValidationMessageFor(model => model.InfoPagamento.ValorEntrada)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.InfoPagamento.ValorTotalPlano)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InfoPagamento.ValorTotalPlano)
            @Html.ValidationMessageFor(model => model.InfoPagamento.ValorTotalPlano)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
