@model IEnumerable<BasicProject.RichModel.Oferta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Inicio Oferta
        </th>
        <th>
            Parcelas
        </th>
        <th>
            Valor Entrada
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DataInicioOferta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InfoPagamento.NumeroParcelas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InfoPagamento.ValorEntrada)
        </td>
        <td>
            @Html.ActionLink("Adquirir", "Adquirir", new { id=item.Id }) |
        </td>
    </tr>
}

</table>
